:root {
    --main-color: #1D4169;
    --main-color-hoverable: #386394;
    --white: #FFFFFF;
    --secondary-color: #162C4E;
}

/* Utils classes */ 

body {
    margin: 0;
    box-sizing: border-box;
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.opened {
    display: block;
}

.overflow-hidden {
    overflow: hidden;
}

.hidden {
    display: none;
}

/* Main styles */

header {
    margin-top: 60px;
    text-align: center;
}

.header__left-corner {
    width: 25%;
    position: absolute;
    top: 0;
    left: 0;
}

.header__right-corner {
    width: 15%;
    position: absolute;
    top: 0;
    right: 0;
}

.page {
    margin-top: 93px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page__title {
   text-transform: uppercase;
   font-size: 72px;
   font-weight: 700;
   line-height: 104%;
   color: rgba(22, 44, 78, .39);
   text-align: center;
}

.page__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    width: 423px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 32px;
    color: black
}

.timer {
    height: 129px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.timer__item {
    width: 120px;
    display: flex;
    justify-content: center;
    margin-right: 15px;
    position: relative;
}

.timer__number {
    font-size: 72px;
    font-weight: 600;
    color: var(--secondary-color);
    line-height: 100%;
    text-align: center;

}

.timer__numder:last-child {
    margin-right: 0;
}

.timer__number::before {
    content: "";
    background-image: url(img/red.svg);
    background-size: cover;
    width: 132px;
    height: 54px;
    display: block;
    position: absolute;
    top: 72px;
    left: -5px;
}
.days::after {
    content: "Days";
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    position: absolute;
    top: 63px;
    left: 40px;
}

.hours::after {
    content: "Hours";
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    position: absolute;
    top: 63px;
    left: 40px;
}

.minutes::after {
    content: "Minutes";
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    position: absolute;
    top: 63px;
    left: 30px;
}

.seconds::after {
    content: "Seconds";
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    position: absolute;
    top: 63px;
    left: 30px;
}

.timer__colon {
    font-size: 72px;
    font-weight: 600;
    color: var(--secondary-color);
    margin-right: 10px;
}

.event {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 76px;
}

.event__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    color: black;
    margin-bottom: 12px;
}

.event__link {
    width: 240px;
    height: 60px;
    background-color: var(--main-color);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.event__link:hover {
    background-color: var(--main-color-hoverable);
}

.link__text {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
}

.link__arrow {
    margin-left: 35px;
}

footer {
    background-color: var(--secondary-color);
    height: 192px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    max-width: 400px;
    width: 100%;
    position: relative;
}

.email__input {
    width: 90%;
    border-radius: 40px;
    padding: 16px 70px 16px 16px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    
}

.submit__button {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #DF2224;
    border: none;
    position: absolute;
    top: 50%;
    right: -40px;
    transform: translateY(-50%);
    text-align: center;
}

.submit__button:hover {
    background-color: #f16163;
}

.footer__arrow {
    width: 20px;
    height: 20px;
}